.App {
  background-size: cover;
  background: linear-gradient(-45deg, #0b0c0c, #125269, #125269, #0b0c0c);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 30px;
}

h3 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

