.App {
  background-size: cover;
  background: linear-gradient(-45deg, #085f5f, #175f79, #1a5368, #247272);
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 30px;
}

h3 {
  color: rgb(3, 3, 3);
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
